.headerNameCol {
  text-align: center;
  font-size: 1.33rem;
}
.filterSelect{
  font-size: 1.6rem;
  font-family: SFNewRepublic, sans-serif;
  background-color: #ffffff;
  width:10rem;
  height:3rem;
  border: 1px solid black;
  margin-right: 1rem;
  text-align: center;
}


.dataBlock{
  display: flex;
  flex-flow:row wrap;
  padding: 3rem;
}

.ticketBlock {
  margin: 1rem;
  /*padding: 15px;*/
  font-size: 1.1rem;
  background-color: #efdaa8aa;
  width: 28rem;
  min-height: 150px;
  max-height: 200px;
  transition: .23s;
}

.ticketContainer {
  margin: 1rem;
  padding: .3rem;
  font-size: 1.1rem;
  background-color: rgba(255, 229, 184, 0.67);
  width: 28rem;
  min-height: 150px;
  max-height: 200px;
  transition: .23s;
}

.ticketBlock:hover{
  cursor:pointer;
  transition: .5s;
  background-color: #efdaa8ff;
}


.rowDirection{
  display: flex;
  flex-flow:row wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
  padding-left: .2rem;
}
.rowDirection:nth-child(2){
  margin-top:2.3rem;
}


.ticketBand{
  font-family: SFNewRepublic, sans-serif;
  font-size: 1.8rem;
}
.ticketPlace{
  font-family: Montserrat-Light, sans-serif;
  font-size: 1.4rem;
}
.ticketDateAndTime, .ticketPrice{
  font-family: Montserrat-Light, sans-serif;
  font-size: 1.5rem;
}
.ticketDateAndTime{
  display: flex;
  flex-flow: column wrap;
  flex:4;
}
.ticketPrice{
  flex:1;
}

.noTicketsNotification{
  font-size:2rem;
  font-family: Montserrat-Medium, sans-serif;
  text-align: center;
}


.logoutBut{
  font-size: 1.6rem;
  font-family: SFNewRepublic, sans-serif;
  background-color: #ffffff;
  width:10rem;
  height:3rem;
  border: 1px solid black;
}

.logoutBut {
  height: 3rem;
  width: 10rem;
  box-shadow: none;
  border: 1px solid #929292;
  background-color: white;
  outline: none;
  font-size: 1.33rem;
  margin-top: .4rem;
}

.table {
  border-collapse: collapse;
}

.ticketTable {
  width: 100%;
}

.tableTr {
  padding-bottom: 10px;
  padding-top: 10px;
  height: 7rem;
  transition: background-color 0.3s linear;
}

.tableTr:hover {
  transition: background-color 0.3s linear;
  background-color: rgba(125, 125, 125, 0.1);
  cursor: pointer;
}

.logoutBut:hover, .logoutBut:focus {
  animation: logoutButAnim .1s linear forwards;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

@keyframes logoutButAnim {
  0% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  }
  10% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 100%);
  }
  20% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 20%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 100%);
  }
  30% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 30%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 100%);
  }
  40% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 100%);
  }
  50% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
  }
  60% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 60%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 100%);
  }
  70% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 70%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
  }
  80% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 80%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
  }
  90% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 90%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 100%);
  }
  100% {
    color: white;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);

  }
}

