.logoutButCol{
  display: flex;
  justify-content: center;
  align-items: center;
}
.filterSelect{
  font-size: 1.6rem;
  font-family: SFNewRepublic, sans-serif;
  background-color: #ffffff;
  width:10rem;
  height:3rem;
  border: 1px solid black;
  margin-right: 1rem;
  text-align: center;
}


.dataBlock{
  display: flex;
  flex-flow:row wrap;
  padding: 3rem;
}

.ticketBlock{
  margin:1rem;
  padding: 15px;
  font-size: 1.1rem;
  background-color: #efdaa8aa;
  width: 390px;
  min-height: 150px;
  transition: .23s;
}
.ticketContainer{
  margin:1rem;
  padding: .3rem;
  font-size: 1.1rem;
  background-color: rgba(255, 229, 184, 0.67);
  width: 25rem;
  min-height: 8rem;
  transition: .23s;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}



.ticketBlock:hover{
  cursor:pointer;
  transition: .5s;
  background-color: #efdaa8ff;
}

.cardMore{
  line-height: 8.5rem;
  background-color: gray;
  font-size:3rem;
  opacity: .2;
}
.cardMore:hover{
  cursor: pointer;
  opacity: .5;
}
.ticketCollectionBlock{
  display:inline-flex;
  flex-flow: row wrap;
}
.rowDirection{
  display: flex;
  flex-flow:row wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
  padding-left: .2rem;
  width:100%;
}
.width100{
  width: 100%;
}
.rowDirection:nth-child(2){
  margin-top:2.3rem;
}


.ticketBand{
  font-family: SFNewRepublic, sans-serif;
  font-size: 1.8rem;
}
.ticketPlace{
  font-family: Montserrat-Light, sans-serif;
  font-size: 1.4rem;
}
.ticketDateAndTime, .ticketPrice{
  font-family: Montserrat-Light, sans-serif;
  font-size: 1.5rem;
}
.ticketDateAndTime{
  display: flex;
  flex-flow: column wrap;
  flex:4;
}
.ticketPrice{
  flex:1;
}




.logoutBut{
  font-size: 1.6rem;
  font-family: SFNewRepublic, sans-serif;
  background-color: #ffffff;
  width:10rem;
  height:3rem;
  border: 1px solid black;
}

.logoutBut:hover, .logoutBut:focus{
  color: white !important;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  animation: leftToRight .1s linear forwards;
}

@keyframes leftToRight {
  0% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  }
  10% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 100%);
  }
  20% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 20%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 100%);
  }
  30% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 30%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 100%);
  }
  40% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 100%);
  }
  50% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
  }
  60% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 60%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 100%);
  }
  70% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 70%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
  }
  80% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 80%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
  }
  90% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 90%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 100%);
  }
  100% {
    color: white;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);

  }
}