.tableImage {
  width: 100px;
  height: 100px;
  transition: transform .34s linear
}

.dataRow {
  display: flex;
  flex-flow: row wrap;
  width:100%;/*
  justify-content: flex-end;*/
}

.yearContainer {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 100%;
  background-color: slategray;
}

.yearData  {
  background-color: red;
  height: 30px;
  width:80%
}
.year {
  align-self: flex-end;
  background-color: yellow;
  width:20%
}


