.mainContainer {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.hallImage {
    height: 100%;
    max-height: 300px;
}

.hallImageDiv {
    text-align: center;
}

.hallName {
    text-align: center;
}

.hallDescription {
    text-align: justify;
}

.alsoImg {
    height: 150px;
}

.alsoCol {
    text-align: center;
    transition: transform .2s linear;
}

.alsoCol:hover {
    transition: transform .2s linear;
    transform: scale(1.05);
}

.alsoContainer {
    margin-bottom: 4rem;
}