.headerBandName {
  font-family: Montserrat-Medium;
  font-size: 5rem;
}
.dataRow{
  display:flex;
  flex-flow: row wrap;
  min-height: 30px;
}
.hallMap{
  position: relative;
  text-align: center;
}
.hallImg{
  max-height: 556px;
  max-width: 800px;
  height: 556px;
  width: 800px;
}
.sectorSVG{
  position: absolute;
  top: 0;
  left: 0;
}
.sectorPart{
  opacity: 0;
}
.sectorPart:hover{
  opacity: .3;
  cursor: pointer;
  transition: opacity .3s linear;
}

.sectorDescription
{
  padding:2rem;
  display: flex;
  flex-direction: column;
  flex:1;
  align-content: center;
  text-align: center;
}
.description{
flex:4;
}
.sectorNameBlock{
  font-family: Montserrat-Medium;
}
.sectorName{
  font-size: 3rem;
}
.featuresBlock{
  font-size: 1.4rem;
}
.buttons{
  flex:1;
  flex-direction: row;
align-items: end;
justify-self: end;
}