.dataRow{
  display:flex;
  flex-flow: row wrap;
  min-height: 30px;
}
.hallMap{
  position: relative;
  text-align: center;
}
.hallImg{
  max-height: 556px;
  max-width: 800px;
  height: 556px;
  width: 800px;
}
.sectorSVG{
  position: absolute;
  top: 0;
  left: 0;
}
.sectorPart{
  opacity: 0;
}
.sectorPart:hover{
  opacity: .3;
  cursor: pointer;
  transition: opacity .3s linear;
}

.sectorDescription
{

}
.description{

}
.buttons{

}