.headerBandName {
  font-family: Montserrat-Medium, sans-serif;
  font-size: 5rem;
}
.dataRow{
  display:flex;
  flex-flow: row wrap;
  min-height: 30px;
}
.hallMap{
  position: relative;
  text-align: center;
}
.hallImg{
  max-height: 556px;
  max-width: 800px;
  height: 556px;
  width: 800px;
}
.sectorSVG{
  position: absolute;
  top: 0;
  left: 0;
}
.sectorPart{
  opacity: 0;
  transition: opacity .3s linear;
}
.sectorPart:hover{
  opacity: .3;
  cursor: pointer;
  transition: opacity .3s linear;
}

.sectorDescription
{
  padding:2rem;
  display: flex;
  flex-direction: column;
  flex:1;
  align-content: center;
  text-align: center;
}
.description{
flex:4;
}
.sectorNameBlock{
  font-family: Montserrat-Medium, sans-serif;
}
.sectorNameBlock{
  font-size: 3rem;
}
.featuresBlock{
  font-size: 2.2rem;
}
.buttons{
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex:1;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.costSpan{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2.8rem;
  font-family: SFNewRepublic, sans-serif;
  min-width:10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height:4rem;
}
.counter{
  font-size: 2rem;
  font-family: SFNewRepublic, sans-serif;
  background-color: #ffffff;
  min-width:10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height:4rem;
  border: 2px solid black;
}
.pleaseText{
  padding-right: 5rem;
  font-family: Montserrat-Medium, sans-serif;
  font-size: 2rem;
  text-align: left;
}
.emptyBlock{
  display: flex;
  flex:3;
}
.dataTextBlock{
  display: flex;
  flex-direction: column;
  flex:2;
}
.infoColData{
  display: flex;
  align-items: end;
  justify-items: end;
  max-height: 10rem;
  text-align: right;
  padding-right: 5rem;
  font-family: Montserrat-Medium, sans-serif;
  font-size: 1.8rem;
}
.leftFloat{
  float: left;
}
.allowedSeats{
   justify-content: end;
   padding-right: 5rem;
   flex:1;
   align-items: end;
   text-align: end;
   font-size: 1.8rem;
   font-family: Montserrat-Medium, sans-serif;
 }
.backButton, .buyButton{
  font-size: 2rem;
  font-family: SFNewRepublic, sans-serif;
  background-color: #ffffff;
  min-width:10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height:4rem;
  border: 2px solid black;
}


.backButton:hover, .buyButton:hover{
  color: white !important;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  animation: leftToRight .1s linear forwards;
}

@keyframes leftToRight {
  0% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  }
  10% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 100%);
  }
  20% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 20%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 100%);
  }
  30% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 30%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 100%);
  }
  40% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 100%);
  }
  50% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
  }
  60% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 60%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 100%);
  }
  70% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 70%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
  }
  80% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 80%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
  }
  90% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 90%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 100%);
  }
  100% {
    color: white;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);

  }
}