.mainContainer {

    max-width: none !important;
}

.searchRow {/*
    margin-top: 1.5rem;*/
    padding-top: 1.5rem;
    margin-bottom: 5rem;
    padding-right: 5rem;
    padding-left: 5rem;
    flex-direction: row;
    justify-content: space-between;
}

.searchHeader {
    align-self: flex-start;
    font-size: 4rem;
    font-family: 'SFNewRepublic';
}

.searchBlock {
    align-self: center;
}


.searchInput {
    font-family: "Montserrat-Light";
    font-size: 1.35rem;
    align-self: flex-end;
    border: none;
    outline: none;
    border-bottom: .12rem solid #2b2b2b;
    min-width: 15rem;
    min-height: 1.5rem;
    background-color:#00000000;
}

.searchBut {
    width: 2.1rem;
    height: 1.9rem;
    background: none;
    border: none;
    outline: none;
}

.searchIcon
{
    font-size: 1.55rem;
}


.tip {
    font-family: "Montserrat-Light";
    z-index: 1;
    background-color: white;
    position: absolute;
    right: 5rem;
    top: 8rem;
    width: 18rem;
    margin-top: 2rem;
    text-align: center;
}

.tipUl {
    text-align: left;
}

.tipLi {
    font-size: 1.2rem;
    padding-top: .2rem;
    padding-bottom: .4rem;
}

.tipLink {
    display: block;
    height: 100%;
    color: black;
    padding-left: 3rem;
}

.tipLi:hover, .tipLi:hover .tipLink, .tipLi:focus, .tipLi:focus .tipLink {
    color: white !important;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    animation: leftToRight .1s linear forwards;
}

@keyframes leftToRight {
    0% {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    }
    10% {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 100%);
    }
    20% {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 20%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 100%);
    }
    30% {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 30%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 100%);
    }
    40% {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 100%);
    }
    50% {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    }
    60% {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 60%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 100%);
    }
    70% {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 70%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
    }
    80% {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 80%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
    }
    90% {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 90%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 100%);
    }
    100% {
        color: white;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);

    }
}

.recentRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.soonCard {
    /*
        max-width: 25rem;
        max-height: 25rem;*/
    position: relative;
    max-width: 35rem;
    margin: 1rem;
    flex-grow: 1;
}

.soonCard:hover .backImage, .soonCard:focus .backImage {
    transform: rotateY(360deg);
    cursor: pointer;
    display: block;
}

.soonCard:hover .frontImage, .soonCard:focus .frontImage {
    transform: rotateY(180deg);
    cursor: pointer;
    opacity: 10%;
}

.frontImage {
    text-align: center;
}

.centreImage {
    min-width: 300px;
    min-height: 300px;
    max-width: 35rem;
    max-height: 35rem;
    width: 35rem;
    height: 35rem;

}

.backImage {
    position: absolute;
    top: 0;
    min-width: 300px;
    min-height: 300px;
    max-width: 35rem;
    max-height: 35rem;
    width: 35rem;
    height: 35rem;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    font-family: "Montserrat-Light";
}


.frontImage {
    backface-visibility: visible;
}

.frontImage, .backImage {
    transition: .95s;
    transition-delay: .05s;
}


.infoCol {
    text-align: justify;
    font-size: 1.6rem;
    padding-top: 13rem;
    padding-left: 5rem;
    height: 100%;
}

.more {
    font-family: 'SFNewRepublic';
    font-size: 2.3rem;
    opacity: 13%;
    background-color: #ececec;
    min-height: 3.6rem;
    justify-content: center;
    transition: .95s;
    margin-bottom:3rem;
}

.more:hover, .more:focus {
    transition: .95s;
    cursor: pointer;
    opacity: 50%;
}

.centerAlign {
    align-self: center;
}
.backgroundPartickle
{
    position: absolute;
    z-index:-1;
    height:100%;
    width:100%;
}
/*
https://readcereal.com/*/
