.headerCol {
  text-align: center;
  margin-top: 1rem;
}

.center {
  text-align: center;

}


.dateTr, .td {
  text-align: right;
  padding: 10px;
  vertical-align: top;
  font-size: 1.33rem;
}

.td {
  text-align: left
}

.newData {
  border-top: 2px solid black;
  padding: 10px;
}

.table {
  width: 100%;
  margin-top: 2rem;
  border: 2px solid black;
}
