.headerRow {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@font-face {
  font-family: 'SFNewRepublic';
  src: url('../../../public/SFNewRepublic.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../../../public/Montserrat-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../../../public/Montserrat-Medium.ttf') format('truetype');
}

