.searchDiv{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.searchSubBlock{
  font-family: Montserrat-Light;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  height:5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.flexRow{
  flex-direction: row;

}
.searchInput, .hallsSelect{
  width:12rem;
  height:2.2rem;
  font-size: 1.2rem;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom: 2px solid #9d9d9d;
}
.searchInput:focus, .hallsSelect:focus{
  outline:none !important;
  border-bottom: 2px solid black;
}


.searchBut{
  font-family: Montserrat-Medium;
  margin-top: 2.3rem;
  font-size: 1.2rem;
  width:10rem;
  background-color: white;
  border: 1px solid black;
}

.mainData{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #efeeee;
}

.searchBut:hover{
  color: white !important;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  animation: leftToRight .1s linear forwards;
}

@keyframes leftToRight {
  0% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  }
  10% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 100%);
  }
  20% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 20%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 100%);
  }
  30% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 30%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 100%);
  }
  40% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 100%);
  }
  50% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
  }
  60% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 60%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 100%);
  }
  70% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 70%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
  }
  80% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 80%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
  }
  90% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 90%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 100%);
  }
  100% {
    color: white;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);

  }
}